{% extends 'empleados/base.html'%}

{% load static %}

{% block title %}Login Sistema Empleados{% endblock title %}

{% block content %}

    <style>
        #id_username, #id_password {
            display: block;
            width: 100%;
        }
    </style>

    {% if form.errors %}
    <p class="text-danger text-center my-5">Tu usuario y contraseña no coinciden. Porfavor intentelo de nuevo.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p class="text-danger text-center my-5">Por favor inicia session para poder ver esta pagina.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="text-center form-control my-5" style="max-width: 400px; margin: 0 auto;">
        {% csrf_token %}
        <div>
            <label>{{ form.username.label_tag }}</label>
            <span class="form-control">{{ form.username }}</span>
        </div>
        <div>
            <label>{{ form.password.label_tag }}</label>
            <span class="form-control">{{ form.password }}</span>
        </div>

        <input type="submit" value="Ingresar" class="my-3 btn btn-primary form-control">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock content %}
